#searchresults {
  border-collapse: collapse;
  width: 100%;
}

#searchresults th, td {
    text-align: left;
    padding: 8px;
}

#searchresults tr:nth-child(even){
  background-color: #d4d4d4
}

#searchresults th {
    background-color: #4CAF50;
    color: white;
}
